#channel-category-contents-container, #channel-category-channels-container {
    padding-top: 170px;
    position: relative;
    padding-left:80px;
    padding-right: 80px;
}
.channel-category-top-info-container {
    position: relative;
    white-space: nowrap;
    text-align: right;
}
.channel-category-arrow {
    position: absolute;
    width: 25px;
    top: 62.5%;
    transform: translateY(-50%);
    opacity: 0.7;
}
.channel-category-arrow.left{
    left: 20px;
}
.channel-category-arrow.right {
    left: unset;
    right: 20px;
}
#channel-category-current-title {
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}
#pagination-container {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0;
    color: #eee;
    position: relative;
    overflow-x: scroll;
}
.pagination-items-wrapper{
    display: inline-block;
}
.pagination-item{
    border: 3px solid transparent;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 16px;
    background: #444;
    line-height: 1;
    border-radius: 5px;
    font-size:25px;
    margin-right: 5px;
    transition: all 0.2s;
}
/*.pagination-item.active{*/
/*    border-color: #ffff00;*/
/*}*/
#channel-category-search-btn-container, #channel-search-btn-container {
    margin: 0 30px;
    display: inline-block;
    font-size: 30px;
    color: #eee;
    line-height: 1;
    vertical-align: middle;
    padding: 0 30px;
    border-left: 1px solid #93c3c3;
    border-right: 1px solid #93c3c3;
}
.channel-category-search-btn {
    padding: 10px 15px;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: all 0.2s;
}
/*.channel-category-search-btn.active{*/
/*    border-color: #ffff00;*/
/*}*/
.movie-type-btn-container {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 1;
    height: 40px;
    background: #362D3D;
    border-radius: 8px;
    overflow: hidden;
    border: 4px solid transparent;
    box-sizing: content-box;
    transition: all 0.2s;
    background-clip: content-box;
}
/*.channel-category-top-btn.movie-type-btn-container.active {*/
/*    border-color: #ffff00;*/
/*}*/
.movie-type-btn-container:last-of-type{
    margin-right: 0;
}
.movie-type-icon-container {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 50px;
    text-align: center;
    background: #7C6A86;
    position: relative;
}
.movie-type-icon {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.movie-type-txt {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 15px;
    height: 100%;
}
.channel-category-groups-count {
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#channel-category-contents-wrapper, #channel-category-channels-wrapper{
    position: relative;
    font-size: 0;
    margin-top: 10px;
    height: 740px;
    margin-left: -8px;
    margin-right: -8px;
    width: 100%;
    overflow-y: scroll;
    white-space: nowrap;
}
#channel-category-channels-wrapper{
    white-space: normal;
}
.channel-category-item-container {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    font-size: 25px;
    color: #ddd;
    padding: 10px 8px;
}
.channel-category-item-wrapper {
    background: #33253C;
    border-radius: 5px;
    padding: 15px 20px;
    transition: all 0.2s;
    border:3px solid transparent;
}
.channel-category-item-wrapper.active, .channel-item-wrapper.active{
    background: #7D7383;
    border-color: #eee;

}
.channel-category-item-title-wrapper {
    padding-bottom: 10px;
    border-bottom: 2px solid #949292;
    margin-bottom: 10px;
    position: relative;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.channel-category-list-icon {
    position: absolute;
    right: 0;
    top: 2px;
}
.channel-category-movie-counts-wrapper {
    font-size: 20px;
    font-weight: normal;
}
.channel-category-movie-counts {
    vertical-align: middle;
    display: inline-block;
}
.channels-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.channel-item-container {
    display: inline-block;
    width: 33.33%;
    vertical-align: middle;
    font-size: 25px;
    color: #ddd;
    padding: 6px 8px;
}
.channel-item-wrapper {
    background: #33253C;
    border-radius: 5px;
    padding: 15px 20px;
    transition: all 0.2s;
    overflow: hidden;
    white-space: nowrap;
    border:3px solid transparent;
}
.channel-item-icon-container {
    height: 100px;
    width: 120px;
    display: inline-block;
    /*background: #fff;*/
    position: relative;
    vertical-align: middle;
}
.channel-item-icon {
    position: absolute;
    height: 100%;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.channel-item-info-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 400px;
    padding-right: 5px;
    white-space: normal;
}
.channel-item-title-wrapper {
    position: relative;
    padding-left: 50px;
    line-height: 1.2;

}
.channel-item-number {
    position: absolute;
    left: 0;
    width: 50px;
}
.channel-item-title {
    display: inline-block;
    width: 100%;
}
.channel-item-current-programme {
    font-size: 20px;
    /*color: #EF1A0B;*/
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#channel-category-page-bottom-labels-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #2A1230;
    text-align: center;
    padding:30px;
}
.channel-category-bottom-label-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: #ddd;
    margin-right: 60px;
    text-transform: uppercase;
}

.channel-category-bottom-label-icon-container.active{
    border-color: #ffff00;
}



.channel-category-bottom-label-icon-txt {
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    letter-spacing: 1px;
}

.channel-category-page-container{
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 100%;
}























