#channel-page{
    font-size: 0;
    border: none;
    padding: 0;
    overflow:hidden;
}

.video-pop-up{
    display: none;
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 100%;
    background: rgba(23, 22, 22, 0.7);
    z-index: 20;
}
#channel-info-modal {
    display: none;
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 200px;
    background: rgba(23, 22, 22, 0.7);
    z-index: 20;
    padding: 30px 20px;
    border: 2px solid #a97695;
    border-radius: 5px;
}
#channel_info_title {
    color: #eee;
    font-size: 35px;
}
#channel_info_short_desc_title, #channel_info_desc{
    font-size: 26px;
    font-weight: normal;
    color: #ccc;
}
#channel_info_short_desc_title {
    margin-top: 10px;
    margin-bottom: 10px;
}
#full-screen-information[style*="display: none"] + #channel-info-modal {
    display: none !important;
}

.video-pop-up-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
}
.video-pop-up-content-wrapper {
    border: 2px solid #a76a6a;
    background: rgba(23, 22, 22, 0.85);
    border-radius: 5px;
}
.video-pop-up-header-container,  .video-pop-up-footer-container{
    margin-top:5px;
}
.video-pop-up-header-container {
    text-align: left;
}
.video-pop-up-footer-container {
    text-align: right;
}
.video-pop-up-header, .video-pop-up-footer {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    background: rgba(23, 22, 22, 0.85);
    margin-left: auto;
    border-radius: 5px;
    border: 2px solid #a76a6a;
}
.video-pop-up-footer-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.video-pop-up-footer-item:last-of-type{
    margin-right: 0;
}
.video-pop-up-footer .info-icon-title {
    color: #ddd;
    font-size: 25px;
    font-weight: normal;
    margin-left: 5px;
}
.video-pop-up-header {
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 30px;
    color: #fff;
}
.video-pop-up-header-icon {
    width: 40px;
}
.video-pop-up-header-title {
    font-size: 30px;
    color: #ddd;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

#channel-page-categories-container, #channel-page-menu-container, #channel-epg-items-container{
    padding: 0 0;
    overflow-y: scroll;
    position: relative;
    height: 790px;
}
.video-pop-up-item-wrapper{
    padding: 12px 20px;
    font-size: 35px;
    font-weight: normal;
    color: #eee;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 79px;
}
.video-pop-up-item-wrapper *{
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
/*.video-pop-up-item-wrapper.active{*/
/*    background:#21AAC4;*/
/*}*/
.video-pop-up-item-icon {
    width: 40px;
}
.video-pop-up-item-number {
    text-align: center;
    width: 100px;
}
.video-pop-up-item-name {
    width: 885px;
    margin-left:5px;
}
.favourite-icon.favourite + .video-pop-up-item-name{
    width: 845px;
}

.video-pop-up-counts-wrapper {
    font-size: 23px;
    font-weight: normal;
    text-align: right;
    padding-right: 30px;
}
.video-pop-up-counts-wrapper span {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}
.video-pop-up-counts-label {
    margin-left: 10px;
}

.channel-category-name-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
.channel-category-number {
    margin-right: 15px;
}

#channel-page .channel-icon{
    width:30px;
    margin-right:10px;
}
#channel-page .channel-epg-icon {
    width: 30px;
    margin-right: 10px;
}
#channel-page .channel-number{
    width:75px;
    margin-right:5px;
    text-align: center;
    display:inline-block;
}
#channel-page .player-container{
    width:100%;
    background: #111;
    position: relative;
    z-index:10;
    height: 100%;
    margin-top:0;
}
#channel-page .player-container.expanded{
    position:fixed;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
}
#channel-page .player-container.expanded+.channel-information-container {
    display: none;
}
#channel-page-video, #channel-page-video-lg{
    left:0;
    top:0;
    position:absolute;
    height: 100%;
    width: 100%;
}
#channel-page .player-container.expanded #channel-page-video,
#channel-page .player-container.expanded #channel-page-video-lg{
    position:fixed;
}

.next-program-item{
    font-size:30px;
    color:#eee;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
}
.next-program-item span{
    font-weight: normal;
}
.next-program-item.current{
    color: #ffff00;
}
.program-time{
    margin-right:20px;
}

#full-screen-information{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 20px;
    padding: 30px 0;
    z-index: 11;
    border: 2px solid #a97695;
    border-radius: 5px;
}
#full-screen-channel-logo {
    display: block;
    margin-top: 20px;
    height: 100px;
    margin-left: 20px;
}
#full-screen-program-description{
    width:calc(100% - 110px);
    margin-bottom:10px;
}

.channel-fullscreen-padding-text{
    padding:0 40px 10px 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
#full-screen-information-progress{
    height: 10px;
    overflow: hidden;
    background-color: #00ffb4;
    margin: 20px 40px;
}
#full-screen-information-progress span{
    display: block;
    background: #cc0000;
    height:100%;
    width:0;

}

.channel-action-btn{
    font-size: 30px;
    /*width: 200px;*/
    padding:15px 50px;
    background: #520178;
    color: #ccc;
    border-radius: 35px;
    border: 1px solid #fff0;
}
.channel-action-btn.active, .channel-action-btn:hover {
    color: #fff;
    background: #910ad0;
    border: 2px solid #fff;
}
.favourite-icon{
    color: #f36b08;
    margin-left: 5px;
    display: none;
}
.favourite-icon.favourite{
    display: inline-block;
}

#typed-channel-number{
    position: fixed;
    top: 30px;
    right: 40px;
    color: yellow;
    font-weight: normal;
    font-size: 50px;
    z-index: 10;
}

#channel-page .video-control-icon-container{
    font-size: 32px;
}
#live-channel-favourite-button{
    margin-left: 10px;
}
.full-screen-contents-wrapper {
    position: relative;
    padding: 0 20px;
    padding-right:200px;
    white-space: nowrap;
}
.full-screen-channel-logo-wrapper {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    height: 80px;
    text-align: center;
}
.full-screen-channel-logo {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
.full-screen-programmes-container {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}
.full-screen-channel-name-wrapper{
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 440px;
    white-space: normal;
}
.full-screen-channel-name {
    font-size: 35px;
    color: #ddd;
}
.full-screen-program-names-wrapper, .full-screen-programme-times-wrapper{
    font-size: 25px;
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
}
.full-screen-program-names-wrapper .current,
.full-screen-programme-times-wrapper .current{
    color: #ffff00;
}
.full-screen-program-names-wrapper{
    width: 280px;
    padding-left: 20px;
}
.full-screen-programme-times-wrapper {
    width: 252px;
}

.full-screen-program-names-wrapper div,
.full-screen-programme-times-wrapper div{
    font-weight: lighter;
}
.full-screen-program-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
#channel-page-bottom-container {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:20px;
    background: #111;
}
.channel-page-bottom-item {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    font-size: 22px;
}
.channel-page-bottom-item:last-of-type{
    margin-right: 0;
}
.channel-page-bottom-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.channel-page-bottom-text {
    font-weight: lighter;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.bottom-item-red {
    background: #ff0000;
}
.bottom-item-blue{
    background: #0000ff;
}
.bottom-item-yellow {
    background: #ffff00;
}
.bottom-item-green {
    background: #00ff00;
}
#channel-resolution-container {
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid #815b72;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0;
    width: 160px;
    text-align: center;
}
#channel-video-type {
    font-size: 30px;
    color: #39E080;
    margin-bottom: 10px;
}
#channel-video-type img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
#channel-video-type span{
    vertical-align: middle;
    display: inline-block;
}
#channel-video-progressbar-container {
    margin-bottom: 20px;
}
#channel-page .info-icon-container{
    background: #491E41;
}
/*#channel-page .info-icon-container.active {*/
/*    border-color: #ffff00;*/
/*}*/
.channel-epg-loader{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
.channel-epg-loader img{
    width: 150px;
}
.channel-epg-loading-txt{
    margin-top:25px;
    color: #ddd;
    font-size: 30px;
    font-weight: normal;
}
.epg-date-label {
    font-size: 35px;
    color: #fff;
    padding: 0 30px;
    line-height: 1;
    margin-top: 30px;
    margin-bottom:5px;
    font-weight: bold;
}
.epg-item-wrapper {
    font-size: 25px;
    color: #aaa;
    border: 2px solid transparent;
    border-left:none;
    border-right: none;
}
.epg-time-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    padding: 0 30px;
    /*color: #fff;*/
    font-weight: bold;
}
.epg-item-name {
    display: inline-block;
    vertical-align: middle;
    /*color: #e5d8aa;*/
    font-weight: bold;
}
.epg-item-wrapper.active {
    /*border-color: #ffff00;*/
    /*background: rgba(116, 113, 113, 0.5);*/
    /*background: #21AAC4;*/
    font-size: 30px;
    color: #fff;
}
.epg-item-wrapper.active .epg-item-name{
    color: #fff;
}
.channel-epg-available-icon{
    margin-right: 15px;
}
.epg-item-wrapper *{
    font-weight: normal;
}
.video-pop-up-empty-msg {
    font-size: 30px;
    color: #ddd;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-control-icon-wrapper.favourite{
    color: #f74904;
}
.epg-txt-color {
    color: rgba(255, 251, 0, 0.8);
}

#channel-page .video-loader{
    text-align: center;
    margin-top: 0px;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}