#loading-page{
    position:relative;
    background-image: url("../images/BG.png");
    background-size: 100% 100%;
    overflow: hidden;
}
#loading-page .loader-image-container{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}
.loader-image-container img {
    width: 100%;
    height: 100%;
}


#loading-issue-container{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    /*background: rgba(14, 14, 14, 0.8);*/
    background: #2D0F2E;
    display: none;
    z-index: 10;
}

.loading-issue-item {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background:rgba(76, 75, 75, 0.53);
    padding: 50px 100px;
    border-radius: 10px;
    color: #eee;
}
.loading-issue-message-container {
    border-radius: 20px;
    min-width: 800px;
}
.loading-issue-title {
    font-size: 45px;
    margin-bottom: 10px;
}
.loading-issue-text {
    text-align: justify;
    font-size: 32px;
    font-weight: normal;
    color: #fff;
}
.loading-issue-info-item {
    margin-top: 10px;
    font-size: 35px;
}
.loading-issue-btn-container {
    margin-top: 30px;
    text-align: center;
}
.loading-issue-btn {
    font-size: 30px;
    background: #171515;
    width: 220px;
    border-radius: 10px;
    margin: 0 5px;
    font-weight: bold;
    color: #ddd;
    transition: all 0.2s;
}
.loading-issue-btn.btn.active {
    color: #fff;
    background: #2e8ce0;
}
.loading-issue-mac-address-label {
    margin-top: 20px;
    display: inline-block;
}
.loading-issue-mac-address.mac-address {
    color: #ffff00;
    font-size: 35px;
}

#loading-page-mac-address-container {
    color: #eca02a;
    font-size: 35px;
    position: fixed;
    top: 30px;
    left: 40px;
}
#loading-page-mac-address {
    margin-left: 10px;
}

