@media screen and (max-width: 1281px){
    .privacy-modal .modal-dialog {
        width: 900px;
        max-width: 900px;
    }
    #terms-modal-content-wrapper {
        background: #2D0F2E;
        padding: 20px 20px;
    }
    .privacy-modal-content .header-title {
        font-size: 35px;
    }
    .privacy-modal-content .header-description {
        font-size: 23px;
    }
    .privacy-modal-content .section-content {
        font-size: 23px;
        margin-top: 15px;
    }
    .terms-modal-button {
        margin-left: 20px;
        width: 220px;
    }
    .setting-modal-btn {
        font-size: 22px;
        padding: 10px 50px;
    }
    .page-top-logo {
        top: 50px;
        left: 40px;
        width: 120px;
    }
    .page-timer {
        right: 40px;
        top: 40px;
        font-size: 22px;
    }
    #channel-category-contents-container, #channel-category-channels-container {
        padding-top: 100px;
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
    }
    #channel-category-contents-wrapper, #channel-category-channels-wrapper {
        margin-top: 5px;
        margin-left:0;
        margin-right: 0;
    }
    .channel-category-groups-count {
        font-size: 25px;
    }
    .pagination-item{
        font-size: 20px;
    }
    #channel-category-search-btn-container, #channel-search-btn-container {
        font-size: 22px;
        margin: 0 5px;
    }
    .channel-category-search-btn {
        padding: 5px 10px;
    }
    .movie-type-btn-container {
        font-size: 20px;
        height: 35px;
    }
    .movie-type-icon-container {
        width: 40px;
    }
    .movie-type-icon {
        width: 15px;
        height: 15px;
    }
    .movie-type-txt {
        padding: 8px 10px;
    }
    .channel-category-item-container, .channel-item-container {
        font-size: 20px;
        padding: 4px 5px;
    }
    .channel-category-movie-counts-wrapper {
        font-size: 22px;
    }
    .channel-item-container {
        font-size: 20px;
        padding: 3px 4px;
    }
    .channel-category-item-wrapper, .channel-item-wrapper {
        padding: 8px 10px;
    }
    .channel-item-wrapper {
        padding: 3px 5px;
    }
    .channel-category-item-title-wrapper {
        padding-bottom: 6px;
        padding-right: 25px;
        margin-bottom: 6px;
    }
    .channel-category-list-icon {
        width:20px;
    }
    .channel-item-icon-container {
        height: 70px;
        width: 80px;
        margin: 5px;
    }
    .channel-item-info-wrapper {
        width: 270px;
        margin-left: 5px;
    }
    .channel-item-title-wrapper {
        padding-left:30px;
        line-height: 1.1;
    }
    .channel-item-current-programme {
        font-size: 16px;
    }
    #channel-category-page-bottom-labels-container {
        height: 80px;
        padding: 20px;
    }
    .channel-category-bottom-label-item {
        font-size: 22px;
        margin-right: 40px;
    }
    .channel-category-arrow {
        width: 18px;
        top: 400px;
    }
    .channel-category-arrow.left {
        left: 15px;
    }
    .channel-category-arrow.right{
        right: 15px;
    }
    #channel-page-categories-container, #channel-page-menu-container, #channel-epg-items-container {
        height: 490px;
    }
    #full-screen-information {
        left: 20px;
        right: 20px;
    }
    .full-screen-contents-wrapper {
        padding-right: 180px;
    }
    .full-screen-channel-logo-wrapper {
        width: 80px;
        height: 55px;
    }
    .full-screen-channel-name-wrapper {
        margin-left: 10px;
        width: 320px;
    }
    .full-screen-channel-name {
        font-size: 24px;
    }
    .full-screen-programmes-container {
        padding-left:10px;
    }
    .full-screen-program-names-wrapper, .full-screen-programme-times-wrapper {
        font-size: 17px;
    }
    .full-screen-programme-times-wrapper {
        width: 150px;
    }
    .full-screen-program-names-wrapper {
        width: 190px;
        padding-left: 10px;
    }
    .video-controls-container {

    }
    .video-control-icon-wrapper {
        width: 40px;
        height: 40px;
        line-height: 37px;
    }
    #channel-page .video-control-icon-container {
        font-size: 21px;
    }
    .video-control-icon-wrapper.info-icon-container {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 5px;
    }
    .video-control-icon-container .info-icon-title {
        font-size: 17px;
    }
    #channel-resolution-container {
        width: 120px;
    }
    #channel-video-type {
        font-size: 25px;
    }
    .video-resolution {
        font-size: 17px;
    }
    .video-pop-up-header {
        font-size: 22px;
    }
    .video-pop-up-header-icon {
        width: 25px;
    }
    .video-pop-up-header-title {
        font-size: 22px;
    }
    .video-pop-up-header, .video-pop-up-footer {
        padding: 5px 20px;
    }
    .video-pop-up-counts-wrapper {
        font-size: 18px;
        width: 200px;
        padding-right: 15px;
    }
    #vod-series-left-part {
        width: 25%;
        padding-right: 10px;
        padding-top: 25px;
    }
    #vod-series-right-part {
        width: 75%;
    }
    #vod-series-top-btns-container {
        width: 65%;
    }
    #vod-series-video-controls-subcontainer {
        padding: 10px 20px;
        padding-right: 180px;
    }
    #vod-series-video-title {
        margin-top:0;
    }
    .video-control-icon {
        font-size: 22px;
    }
    .video-control-icon i {
        width: 45px;
        height: 45px;
        border: 3px solid transparent;
        display: inline-block;
        line-height: 39px;
    }
    .video-info-icon img {
        height: 28px;
    }
    .video-info-icon {
        width: 45px;
        height: 45px;
        padding-top: 6px;
    }
    #vod-series-progress-container {
        padding: 0 75px;
    }
    #vod-series-resolution-container {
        width: 140px;
    }

    #vod-series-loading-container .video-loader {
        margin-top: 20px;
        font-size: 20px;
    }
    #vod-series-loading-container .video-loader img {
        width: 60px;
        margin-bottom: 0;
    }
    #vod-series-loading-container .video-resolution {
        text-align: center;
        bottom: 20px;
    }
    #vod-series-video-title {
        font-size: 25px;
    }
    #vod-series-player-page .video-time {
        font-size: 20px;
        padding: 0 5px;
    }
    #menu-container {
        right: 60px;
        left: 60px;
        height: 65%;
        top: 60%;
        padding-left: 70px;
        padding-right: 70px;
    }
    .home-menu-arrow-icon{
        width: 50px;
    }
    .menu-item-container {
        vertical-align: middle;
        padding: 15px;
    }
    .menu-item-img {
        margin: 5px auto;
        height: 100px;
    }
    .menu-item-container:hover .menu-item, .menu-item-container.active .menu-item {
        transform: scale(1.1);
    }
    .channel-page-category-item, .channel-menu-item{
        font-size: 20px;
        padding: 9px 20px;
        height: 54px;
    }
    .video-pop-up-item-number {
        width: 85px;
    }
    .video-pop-up-item-name {
        width: 530px;
    }


    .channel-action-btn {
        font-size: 25px;
        padding: 5px 30px;
    }

    #vod-series-icon-container {
        margin-bottom: 10px;
    }
    #vod-series-icon-container img {
        height: 40px;
    }
    #vod-series-categories-container{
        height:638px;
    }

    .vod-series-category-item {
        padding: 8px 15px;
        font-size: 22px;
    }

    #vod-series-title-part {
        margin: 10px 0;
    }
    #vod-series-current-category {
        width: 35%;
        font-size: 25px;
    }
    .vod-series-top-btn.search-icon-container {
        width: 45px;
        height: 45px;
    }
    .vod-series-top-btn.search-icon-container img {
        width: 25px;
        height: 25px;
    }
    #setting-page {
        padding: 30px 40px;
        padding-top:40px;
    }
    #setting-page .page-timer{
        top: 40px;
    }
    #setting-menus-container {
        margin-top:20px;
    }
    .setting-page-title {
        color: #ddd;
        font-size: 38px;
        margin-bottom: 10px;
    }
    .setting-items-container {
        margin-bottom: 10px;
    }
    .setting-menu-item-container {
        margin-right: 25px;
        font-size: 25px;
    }
    .setting-menu-item-icon-container {

    }
    .setting-menu-item-wrapper.long {
        width: 390px;
    }
    .setting-items-container .setting-menu-item-container:last-of-type {
        margin-right: 0;
    }
    .setting-menu-item, .setting-menu-item-sub-wrapper {
        font-size: 20px;
    }
    .setting-menu-item {
        padding: 12px 10px;
    }
    .setting-menu-item-sub-wrapper.middle {
        padding: 10px;
    }
    .setting-menu-item-title {
        height: 30px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    #search-value {
        font-size: 22px;
    }
    .setting-menu-item-text {

    }
    #hide-category-modal .modal-dialog, #time-format-modal .modal-dialog {
        width: 1100px;
        max-width: 1100px;
    }
    .parent-modal-label-wrapper {
        margin-top: 10px;
    }
    .parent-modal-btns-container {
        margin-top: 20px;
    }
    .playlist-icon-wrapper {
        width: 60px;
        height: 60px;
        padding: 12px;
    }
    .playlist-item-wrapper {
        font-size: 20px;
        padding:15px 20px;
    }
    #playlist-items-container {
        position: relative;
        margin-top: 20px;
        height: 400px;
    }
    #notification-title {
        font-size: 35px;
    }
    #notification-content {
        font-size: 25px;
        font-weight: normal;
    }
    #parent-control-modal-title{
        font-size: 35px;
    }
    .parent-modal-input-item-container{
        font-size:22px;
    }
    .parent-modal-input-wrapper input {
        padding: 10px 10px;
        font-size: 22px;
    }
    .modal-btn-1 {
        padding: 5px 20px !important;
        font-size: 25px !important;
        border-radius: 10px !important;
        border: 2px solid #ccc !important;
    }
    .parent-control-modal-button {
        width: 200px;
    }

    .hide-category-modal-option {
        padding: 5px 20px;
    }

    .hide-category-checkbox + label {
        font-size: 27px;
        padding-left: 45px;
    }

    .hide-category-checkbox + label:before {
        width: 25px;
        height: 25px;
    }
    .hide-category-checkbox + label:after {
        top: 9px;
        left: 7px;
        width: 11px;
        height: 16px;
    }
    .user-account-item-wrapper {
        font-size: 30px;
    }
    .modal-operation-menu-type-3 {
        font-size: 25px;
        padding: 10px 20px;
    }
    #theme-modal-body {
        max-height: 450px;
    }
    #select-language-body {
        max-height: 450px;
        overflow-y: scroll;
    }
    #exit-app-title{
        font-size: 35px !important;
    }

    .vod-series-menu-item-container img {
        height: 135px;
    }
    .vod-series-menu-item-container {
        padding: 5px 4px;
    }
    .vod-series-menu-item-container.active .vod-series-menu-item {
        transform: scale(1.05);
    }
    .vod-series-menu-item-title-wrapper {
        font-size: 17px;
        height: 60px;
    }
    #vod-series-menus-container {
        height: 635px;
    }

    .vod-series-action-btn {
        font-size: 20px;
        padding: 6px 35px;
    }
    .season-btn {
        padding-right: 70px;
    }
    #vod-summary-content-container, #series-summary-contents-container {
        padding-left: 350px;
    }
    #vod-summary-name, #series-summary-name {
        font-size: 30px;
        margin-top: -45px;
        margin-left: -150px;
        padding-left: 140px;
    }
    .vod-series-summary-page-contents-container{

    }
    .vod-summary-item {
        font-size: 20px;
        padding:3px 0;
    }
    .vod-series-total-summary {
        font-size: 22px;
    }
    #vod-summary-action-container {
        margin-top:5px;
    }
    .episode-item-container {
        padding-right: 10px;
    }
    #sort-modal-container {
        position: fixed;
        right: 255px;
        top: 15px;
    }
    #series-summary-image-wrapper img{
        /*width: 300px;*/
        /*max-height: 420px;*/
    }
    #series-summary-page .rating{
        font-size: 23px;
    }
    #episodes-part{
        padding-left: 410px;
        padding-right: 50px;
    }
    .episode-arrow-icon{
        height: 40px;
        left: 370px;
    }
    .season-item-container {

    }
    #season-items-container {
        min-height: 50px;
    }
    .episode-item-wrapper {
        font-size: 20px;
        padding: 0 0;
        border-radius: 0;
    }
    .episode-item-img-wrapper {
        height: 170px;
    }
    .episode-item-title {
        margin-bottom: 5px;
    }
    #series-summary-contents-wrapper{
        padding-left: 410px;
        padding-top:10px;
    }
    #login-page-note-1 {
        font-size: 31px;
        text-align: center;
    }
    #login-page-note-2-container{
        margin-top: 30px;
        padding:30px;
        margin-bottom: 30px;
    }
    .login-note-2-txt {
        padding: 5px 0;
    }
    .login-button{
        font-size: 30px;
    }
    .playlist-state {
        right: 10px;
    }

    #playlist-page-part-2{
        padding: 20px 30px;
    }
    .playlist-note {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 25px;
    }
    #code-activation-btn{
        padding: 5px 20px;
        font-size: 25px;
    }

    .next-program-item {
        font-size: 20px;
    }
    .search-content-container{
        height: 590px;
    }
    .menu-item{
        padding:13px 8px;
    }
    .menu-item-txt{
        font-size: 20px;
        padding:5px 10px;
    }
    .rating{
        font-size: 25px;
    }
    .rating-mark {
        margin-left: 5px;
        font-size: 25px;
    }
    #vod-summary-image-wrapper, #series-summary-image-wrapper{
        width: 250px;
        height: 350px;
    }
    #vod-summary-description, #series-summary-description{
        margin-top: 10px;
        font-size: 20px;
        line-height: 1.2;
        -webkit-line-clamp: 3;
    }
    #series-summary-description{
        -webkit-line-clamp: 2;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .season-summary-label {
        margin-top:10px;
        font-size: 30px;
    }
    #season-items-container{
        max-height: 600px;
    }
    #menu-container{
        bottom: 30px;
    }
    #home-expire-date-container {
        margin-top: 10px;
        margin-right: 10px;
    }
    #channel-page-bottom-container{
        padding: 20px 0;
    }
    .channel-page-bottom-item{
        margin-right: 10px;
        font-size: 20px;
    }
    .channel-page-bottom-text{
        margin-left:5px;
    }
    /*#search-page {*/
    /*    padding: 30px 30px;*/
    /*}*/
    /*#search-page-input {*/
    /*    font-size: 25px;*/
    /*    border-radius: 30px;*/
    /*    padding: 8px 40px 8px 55px;*/
    /*}*/
    /*.search-page-input-container .fa-search {*/
    /*    font-size: 25px;*/
    /*}*/
    /*.search-page-stream-type-container {*/
    /*    margin-bottom: 10px;*/
    /*}*/
    /*.search-page-stream-type-label {*/
    /*    font-size: 30px;*/
    /*}*/

    #search-page {
        padding: 25px 30px;
    }
    #search-page-top-menus-container {
        position: relative;
        margin-bottom: 20px;
    }
    #search-page-input {
        font-size: 25px;
        padding: 3px 40px 5px 60px;
    }
    .search-page-stream-type-label {
        font-size: 25px;
    }
    .filtered-movie-container.channel .filtered-movie-img-wrapper {
        height: 100px;
        width: 170px;
    }
    .search-page-stream-type-container {
        margin-bottom: 10px;
        min-height: 150px;
    }
    .filtered-movie-title-wrapper {
        height: 35px;
    }
    .filtered-movie-title{
        font-size: 22px;
    }
    .filtered-movie-img-wrapper img {
        height: 110px;
        width: 150px;
    }
    .search-page-top-menu.back-icon {
        color: #ddd;
        font-size: 30px;
        margin-top: 12px;
    }
    .select-video-kind-item, .playlist-item-container {
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        padding: 10px;
    }
    .modal-dialog.modal-xl {
        min-width: 800px;
    }
    .setting-modal-title {
        font-size: 30px;
        padding: 15px 25px;
    }
    .parent-modal-input-container {
        padding: 10px 30px;
    }
    .parent-control-modal-button {
        margin-bottom: 0 !important;
    }
    #turn-off-modal .modal-content, #clear-cache-modal .modal-content {
        padding: 20px 30px;
    }
    #turn-off-modal .setting-modal-btn, #clear-cache-modal .setting-modal-btn, #expired-issue-container .setting-modal-btn {
        width: 200px;
        margin: 0 10px;
    }
    .turn-off-modal-desc {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 25px;
    }
    .turn-off-modal-title {
        font-size: 40px;
    }
    .setting-menu-item-container.more-link-item-container {
        margin-right: 10px;
    }
    .setting-menu-item-wrapper.more-link-item {
        padding: 10px 20px;
    }
}
