.loader.small,
.loader.small:before,
.loader.small:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader.small:before {
    left: -2em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader.small:after {
    left: 2em;
}

@-webkit-keyframes small-loader {
    0%,
    80%,
    100% {
        box-shadow: 0 1em 0 -1.3em;
    }
    40% {
        box-shadow: 0 1em 0 0;
    }
}
@keyframes small-loader {
    0%,
    80%,
    100% {
        box-shadow: 0 1em 0 -1.3em;
    }
    40% {
        box-shadow: 0 1em 0 0;
    }
}


#app.samsung #subtitle-loader-container {
    display: none;
}
#subtitle-loader-container {
    background: #0c0c0ca1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}