modules = ["nodejs-20", "web"]
run = "node app.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 43937449
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "IPTV App Server"

[[workflows.workflow]]
name = "IPTV App Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 41641
externalPort = 3001

[[ports]]
localPort = 41651
externalPort = 3000

[[ports]]
localPort = 46571
externalPort = 3002

[agent]
expertMode = true
